<!--
    <copyright file="OtherRooom.cshtml" company="Microsoft Corporation">
    Copyright (c) Microsoft Corporation. All rights reserved.
    </copyright>
-->
@using Microsoft.Teams.Apps.BookAThing.Resources;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="" content="" />
    <title>Book a Room</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <center style="margin-top:40vh"><label style="color:#BEBBB8">@Strings.LoadingMessage</label></center>
    </div>
    <script src="~/dist/bundle.js?v=1.5"></script>
</body>
</html>
